extends layout

block content
  h1.mb-4 Add New User
  form(method='POST' action='/add' enctype="multipart/form-data")
    .mb-3
      label.form-label Profile Picture
      input.form-control(
        type='file'
        name='profilePicture'
        accept='image/jpeg,image/png,image/jpg'
      )
    
    .row
      .col-md-6.mb-3
        label.form-label First Name *
        input.form-control(type='text', name='firstName', required, value=user ? user.firstName : '')
      .col-md-6.mb-3
        label.form-label Last Name *
        input.form-control(type='text', name='lastName', required, value=user ? user.lastName : '')
    
    .mb-3
      label.form-label Date of Birth *
      input.form-control(type='date', name='dateOfBirth', required, value=user ? user.dateOfBirth : '')
    
    .mb-3
      label.form-label Address Line 1 *
      input.form-control(type='text', name='address1', required, value=user ? user.address1 : '')
    
    .mb-3
      label.form-label Address Line 2
      input.form-control(type='text', name='address2', value=user ? user.address2 : '')
    
    .row
      .col-md-6.mb-3
        label.form-label City *
        input.form-control(type='text', name='city', required, value=user ? user.city : '')
      .col-md-6.mb-3
        label.form-label Postal Code *
        input.form-control(type='text', name='postalCode', required, value=user ? user.postalCode : '')
    
    .mb-3
      label.form-label Country *
      input.form-control(type='text', name='country', required, value=user ? user.country : '')
    
    .row
      .col-md-6.mb-3
        label.form-label Phone Number *
        input.form-control(type='tel', name='phoneNumber', required, value=user ? user.phoneNumber : '')
      .col-md-6.mb-3
        label.form-label Email *
        input.form-control(type='email', name='email', required, value=user ? user.email : '')
    
    .mb-3
      label.form-label Notes
      textarea.form-control(name='notes', rows='3')= user ? user.notes : ''
    
    .mb-3
      button.btn.btn-primary(type='submit') Add User
      a.btn.btn-secondary.ms-2(href='/') Cancel 
