extends layout

block content
  h1.mb-4 User List
  .table-responsive
    table.table.table-striped.table-hover
      thead.table-dark
        tr
          th Profile
          th Name
          th Email
          th Phone
          th City
          th Country
          th Actions
      tbody
        each user in users
          tr
            td
              img.rounded-circle(
                src=user.profilePicture ? `/uploads/profiles/${user.profilePicture}` : '/images/default-profile.png'
                alt=`${user.firstName} ${user.lastName}`
                style='width: 50px; height: 50px; object-fit: cover;'
              )
            td #{user.lastName}, #{user.firstName}
            td #{user.email}
            td #{user.phoneNumber}
            td #{user.city}
            td #{user.country}
            td
              a.btn.btn-primary.btn-sm(href=`/edit/${user._id}`) Edit
        else
          tr
            td(colspan='6') No users found