extends layout

block content
  h1.text-center.mb-4 User List
  .table-responsive
    table.table.table-striped.table-hover.shadow-sm
      thead
        tr
          th Profile
          th Name
          th Email
          th Phone
          th City
          th Country
          th Actions
      tbody
        each user in users
          tr
            td
              img.profile-picture(src=user.profilePicture ? `/uploads/profiles/${user.profilePicture}` : '/images/default-profile.png' 
              alt=`${user.firstName} ${user.lastName}`)
            td #{user.lastName}, #{user.firstName}
            td #{user.email}
            td #{user.phoneNumber}
            td #{user.city}
            td #{user.country}
            td
              .btn-group(role='group')
                a.btn.btn-outline-primary.btn-sm(href=`/edit/${user._id}`)
                  i.fas.fa-edit.fa-lg(style='color: blue')
                  | Edit
                form(method='POST' action=`/delete/${user._id}` style='display:inline' onsubmit='return confirm("Are you sure you want to delete this user?")')
                  button.btn.btn-outline-danger.btn-sm(type='submit')
                    i.fas.fa-trash.fa-lg(style='color: red')
                    | Delete
        else
          tr
            td.text-center(colspan='7') No users found
